body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url("https://img.freepik.com/premium-photo/concept-image-dental_43058-70.jpg?w=2000");
  font-family: Arial, san-serif;;
}

h1 {
  font-size: 2em
}
